.pie-chart-container {
    height: 170px;
    width: 440px;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
}

.dashboard-title {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.pie-chart-dash {
    display: flex;
    flex-direction: column;
}