.sign-up-text {
    height: 70px;
    width: 400px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

#dont {
  text-align: left;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: auto;
  color: #000000;
}

#create {
  text-align: left;
  margin-left: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: auto;
  text-decoration: underline;
  color: #000000;
}